.v-enter,.v-leave-to{
    opacity: 0;
    transform: translateX(80px)

}
.v-enter-active,.v-leave-active{
    transition: all 0.3s ease
}

.signIn_form {
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
}

.qxs-ic_user {
    outline:none;
    background: url("../imgs/ic_user.png") no-repeat 3%;
    background-size: 15px 15px;
}

.qxs-ic_password {
    outline:none;
    background: url("../imgs/ic_password.png") no-repeat 3%;
    background-size: 15px 15px;
    margin-bottom: 20px;
}

.qxs-ic_mail {
    outline:none;
    background: url("../imgs/ic_mail.png") no-repeat 3%;
    background-size: 15px 15px;
    margin-bottom: 20px;
}

.signIn_logo {
    height: 100%;
}

.signIn_btn {
    width: 100%;
    height: 30px;
    font-size: 16px;
    color: #FFFFFF;
    background-color: #FFDAB9;
    border:none;
    outline:none;
    border-radius:15px;
}

a{
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    color: #A9A9AB;
    margin-left: 20px;
    margin-right: 20px;
}