body {
    padding: 0;
    margin:0;
    background-color:#F8F8FF;
    font-family: "Microsoft YaHei UI Light", serif;
}

h1 {
    font-size: 100px;
    color:#FFFFFF;
}

h2 {
    color:#FFFFFF;
}

.outer_label {
    width: 100%;
    height: 300px;
    background: -webkit-linear-gradient(left, #EEDD82, #FFDAB9);
    background: -o-linear-gradient(right, #EEDD82, #FFDAB9);
    background: -moz-linear-gradient(right, #EEDD82, #FFDAB9);
    background: linear-gradient(to right, #EEDD82 , #FFDAB9);
    text-align: center;
}

.inner_label {
    position: relative;
    left:0;
    right: 0;
    bottom: 0;
    top:0;
    margin: auto;
    height: 50px;
}
.qxs-icon {
    height: 40px;
    width: 90%;
    margin-bottom: 5px;
    padding-left: 10%;
    border: 0;
    border-bottom: solid 1px lavender;
}