<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap-3.3.4.css">
    <link rel="stylesheet" type="text/css" href="css/dashboard_style.css">
</head>
<body>

<div id="dashboard" class="wrapper wrapper-content">
    <div class="row">
        <div class="col-sm-6">
            <div class="ibox">
                <div class="ibox-title">
                    <a href="#" onclick="openTarget('/getMoodDiary')"><h5>Did you log your mood today?</h5></a>
                </div>
                <div class="ibox-content">
                    <img width="100%" height="auto" src="../static/imgs/pics/pic_mood_main.jpeg" th:src="@{imgs/pics/pic_mood_main.jpeg}"/>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="ibox">
                <div class="ibox-title">
                    <a href="#" onclick="openTarget('/getReflection')"><h5>Quick quiz</h5></a>
                </div>
                <div class="ibox-content">
                    <img width="100%" height="auto" src="../static/imgs/pics/pic_quiz_main.jpg" th:src="@{imgs/pics/pic_quiz_main.jpg}"/>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Today's recommendation</h5>
                </div>
                <div class="ibox-content">
                    <img width="100%" height="auto" src="../static/imgs/pics/pic_recommendation_main.jpg" th:src="@{imgs/pics/pic_recommendation_main.jpg}"/>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="ibox">
                <div class="ibox-title">
                    <a href="#" onclick="openTarget('/getWeeklyMood')"><h5>View your weekly mood</h5></a>
                </div>
                <div class="ibox-content">
                    <img width="100%" height="auto" src="../static/imgs/pics/pic_mood_weekly_main.jpg" th:src="@{imgs/pics/pic_mood_weekly_main.jpg}"/>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Hours your exercise</h5>
                </div>
                <div class="ibox-content">
                    <img width="100%" height="auto" src="../static/imgs/pics/pic_exercise_main.jpg" th:src="@{imgs/pics/pic_exercise_main.jpg}"/>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{scripts/vue.min.js}"></script>
<script>
    function openTarget(target){
        window.parent.postMessage({  //参数是对象
            cmd: 'message',
            target: target
        }, '*');
    }
</script>
</body>
</html>