<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>E-mental Sign In</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/theme.css">
    <link rel="stylesheet" type="text/css" href="css/character.css">
</head>
<body>
    <div>
        <div class="outer_label">
            <h1>E-MENTAL</h1>
            <h2>sub title</h2>
        </div>
        <div id="signIn" class="signIn_form">
            <input type="text"  class="qxs-ic_user qxs-icon"  placeholder="USERNAME" v-model="username">
            <input type="text"  class="qxs-ic_password qxs-icon"  placeholder="PASSWORD" v-model="password">
            <button-sign-in></button-sign-in>
            <div style="margin-top: 10px">
                <span style="float: left;color: #A9A9AB">Sign Up</span>
                <span style="float: right;color: #A9A9AB">Forgot Password?</span>
            </div>
        </div>
    </div>
</body>

<script th:src="@{scripts/vue.min.js}"></script>
<script type = "text/javascript">
    Vue.component('button-sign-in',{
            template:'<button class="signIn_btn" v-on:click="signInHandler">Sign In</button>',
            methods:{
                signInHandler:function(){

                }
            }
        }
    );

    let vm = new Vue({
        el: '#signIn',
        data: {
            title:'E-MENTAL',
            username: '',
            password: ''
        },
        methods: {
            details: function () {
                return this.title + " e-mental";
            }
        }
    });
</script>

</html>