<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap-3.3.4.css">
    <link rel="stylesheet" type="text/css" href="css/dashboard_style.css">
</head>
<body>

<div id="lifestyleHelper" class="wrapper wrapper-content">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Record your daily weight</h5>
                </div>
                <div class="ibox-content">
                    <span>Today's Weight: </span><input>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Record your weekly exercise</h5>
                </div>
                <div class="ibox-content">
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Record your sleeping hours</h5>
                </div>
                <div class="ibox-content">
                    <span>Hours slept last night: {{sleptHours}} hours</span><input id="range" type="range" value="5" min="0" max="24" v-model="sleptHours">
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{scripts/vue.min.js}"></script>
<script th:src="@{scripts/vue-resource.min.js}"></script>
<script>
    const app = new Vue({
        el:'#lifestyleHelper',
        data:{
            sleptHours:8,
        },
        mounted:function(){

        },
        methods:{

        }
    })

</script>
</body>
</html>