<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap-3.3.4.css">
    <link rel="stylesheet" type="text/css" href="css/dashboard_style.css">
</head>
<body>

<div id="moodDiary" class="wrapper wrapper-content">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h3>Mood Diary</h3>
                    <h5 style="float:right;margin-top:-20px; ">Notify me
                        <input style="margin-left: 5px;float:right" v-model="notifyFlg" type="checkbox">
                    </h5>
                </div>
                <div class="ibox-content">
                    <textarea maxlength="4000" class="text-box" v-model="content"></textarea>
                    <span>
                        <a href="#" @click.prevent="setMoodStatus('0')"><img class="mood-icon" :style="{'opacity':(status=='0'?'1':'0.3')}" src="../static/imgs/ic_mood_bad.png" th:src="@{imgs/ic_mood_bad.png}"/></a>
                        <a href="#" @click.prevent="setMoodStatus('1')"><img class="mood-icon" :style="{'opacity':(status=='1'?'1':'0.3')}" src="../static/imgs/ic_mood_normal.png" th:src="@{imgs/ic_mood_normal.png}"/></a>
                        <a href="#" @click.prevent="setMoodStatus('2')"><img class="mood-icon" :style="{'opacity':(status=='2'?'1':'0.3')}" src="../static/imgs/ic_mood_happy.png" th:src="@{imgs/ic_mood_happy.png}"/></a>
                        <a href="#" @click.prevent="setMoodStatus('3')"><img class="mood-icon" :style="{'opacity':(status=='3'?'1':'0.3')}" src="../static/imgs/ic_mood_ecstasy.png" th:src="@{imgs/ic_mood_ecstasy.png}"/></a>
                    </span>
                    <button class="submit-button" v-on:click="submit">Submit</button>
                    <button class="submit-button" v-on:click="submit">Clear diaries older than 7 days</button>
                </div>
                <div class="diaryContent" v-for="item in diaryData" :key="item.name">
                    <div class="ibox-content">
                        <h2>{{item.createTime}} : {{item.content}}
                            <span v-if="item.moodStatus === '0'">
                                <img class="mood-icon" style="float: right;opacity:1" src="../static/imgs/ic_mood_bad.png" th:src="@{imgs/ic_mood_bad.png}"/>
                            </span>
                            <span v-else-if="item.moodStatus === '1'">
                                <img class="mood-icon" style="float: right;opacity:1" src="../static/imgs/ic_mood_bad.png" th:src="@{imgs/ic_mood_normal.png}"/>
                            </span>
                            <span v-else-if="item.moodStatus === '2'">
                                <img class="mood-icon" style="float: right;opacity:1" src="../static/imgs/ic_mood_happy.png" th:src="@{imgs/ic_mood_happy.png}"/>
                            </span>
                            <span v-else-if="item.moodStatus === '3'">
                                <img class="mood-icon" style="float: right;opacity:1" src="../static/imgs/ic_mood_ecstasy.png" th:src="@{imgs/ic_mood_ecstasy.png}"/>
                            </span>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{scripts/vue.min.js}"></script>
<script th:src="@{scripts/vue-resource.min.js}"></script>
<script>

    const app = new Vue({
        el:'#moodDiary',
        data:{
            content:null,
            status:1,
            diaryData:null,
            notifyFlg:true
        },
        mounted:function(){
          this.getMoodDiary();
          this.$watch("notifyFlg", function (newValue, oldValue) {
              console.log(this.notifyFlg);
          })
        },
        methods:{
            setMoodStatus(status){
                this.status = status;
            },
            getMoodDiary(){
                this.$http.post('/getMoodDiaryContent').then(function(res){
                    this.diaryData = res.data.data;
                },function(){
                    console.log('Failed');
                });
            },
            submit(){
                if (this.content==null||''===this.content){
                    alert("Illegal inputs!");
                    return;
                }
                let data = {content:this.content,status:this.status};
                this.$http.post('/saveMoodDiary',data,{
                    emulateJSON: true
                }).then(function(res){
                    this.content=null;
                    this.status=1;
                    this.diaryData=null;
                    this.getMoodDiary();
                    alert("Wish you have a good mood!");
                },function(){
                    console.log('Failed');
                });
            }
        }

    })

</script>
</body>
</html>