<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ADU Sign In</title>
    <link rel="stylesheet" type="text/css" href="css/signin_style.css">
    <link rel="stylesheet" type="text/css" href="css/theme.css">
    <link rel="stylesheet" type="text/css" href="css/character.css">
</head>
<body align="center">
    <div style="background-color:#FDFDFD;width:600px;height:800px;position: absolute;top: 50%;margin-top:-400px;margin-left:-300px;display: inline-block;border: solid 1px #DCDCDC;">
        <div class="outer_label">
            <span style="font-size: 100px;color: #FFFFFF">ADU</span>
            <h2 style="margin-top: 70px;">Every day is a new self and a new start!</h2>
        </div>

        <div id="singInForm" class="signIn_form" align="center">
            <div style="margin-top: 50px">
                <transition name="" mode="out-in">
                    <component :is="target"></component>
                </transition>
            </div>

        </div>
    </div>
</body>

<script th:src="@{scripts/vue.min.js}"></script>
<script th:src="@{scripts/vue-resource.min.js}"></script>
<script type = "text/javascript">
    Vue.component('signIn',{
            template:
                    '<div id="signIn">' +
                        '<div style="margin-bottom: 50px">' +
                            '<a>SIGN IN</a>'+
                        '</div>' +
                        '<input type="text" ref="username" class="qxs-ic_user qxs-icon" placeholder="USERNAME">' +
                        '<input type="password" ref="password" class="qxs-ic_password qxs-icon" placeholder="PASSWORD">' +
                        '<button id="sign_in_btn" class="signIn_btn" v-on:click="signInHandler">Confirm</button>' +
                        '<a href="#" @click.prevent="turnToFgtPass" style="float: right;margin-top:20px;"><h5>Forgot password?</h5></a>'+
                        '<a href="#" @click.prevent="turnToSignUp" style="float: left;margin-top:20px;"><h5>Create an account</h5></a>'+
                     '</div>',
            methods:{
                turnToFgtPass(){
                    app.target="fgtPass";
                },
                turnToSignUp(){
                    app.target="signUp";
                },
                signInHandler(){
                    let username = this.$refs.username.value;
                    let password = this.$refs.password.value;
                    if (username == null||'' === username||password == null||'' === password){
                        alert("Illegeal username or password!");
                    }
                    document.getElementById("sign_in_btn").disabled=true;
                    let data = {username:username,password:password};
                    this.$http.post('/signInVerify',data,{
                        emulateJSON: true
                    }).then(function(res){
                        document.getElementById("sign_in_btn").disabled=false;
                        if (res.data.message==="failed"){
                            alert("Wrong username or password!");
                        }else if(res.data.message==="success"){
                            window.location.href = '/signIn';
                        }else {
                            alert("System Error!");
                        }
                    },function(){

                    });
                }
            }
        }
    )

    Vue.component('signUp',{
            data: {
                legealUsername:false,
                legealPassword:false,
                legealEmail:false,
            },
            template:'<div id="singUp">' +
                        '<div style="margin-bottom: 50px">' +
                            '<a>SIGN UP</a>'+
                        '</div>' +
                        '<input type="text" @blur="usernameVerify" ref="username" class="qxs-ic_user qxs-icon"  placeholder="USERNAME">' +
                        '<input type="password" ref="password" class="qxs-ic_password qxs-icon"  placeholder="PASSWORD">' +
                        '<input type="password" @blur="passwordVerify" ref="passwordRe" @blur="passwordVerify" ref="passwordRe" class="qxs-ic_password qxs-icon"  placeholder="REPEAT PASSWORD">' +
                        '<input type="email" @blur="emailVerify" ref="email" class="qxs-ic_mail qxs-icon"  placeholder="EMAIL ADDRESS">' +
                        '<button id="sign_up_btn" class="signIn_btn" v-on:click="signUpHandler">Confirm</button>' +
                        '<a href="#" @click.prevent="turnToSignIn" style="float: right;margin-top:20px;"><h5>Already have an account?</h5></a>'+
                '</div>',
            methods:{
                turnToSignIn(){
                    app.target='signIn';
                },
                usernameVerify(){
                    let username = this.$refs.username.value
                    let data = {username:username};
                    if (null!=username&&''!==username){
                        this.$http.post('/usernameVerify',data,{
                            emulateJSON: true
                        }).then(function(res){
                            if (res.data.message==="failed"){
                                alert("Username already in used!");
                                this.$refs.username.value=null;
                                this.legealUsername=false;
                            }else if(res.data.message==="success"){
                                this.legealUsername=true;
                            }else {
                                alert("System Error!");
                                this.legealUsername=false;
                            }
                        },function(){

                        });
                    }
                },
                emailVerify(){
                    let email = this.$refs.email.value
                    let data = {email:email};
                    if (null!=email&&''!==email){
                        this.$http.post('/emailVerify',data,{
                            emulateJSON: true
                        }).then(function(res){
                            if (res.data.message==="failed"){
                                alert("Email already in used!");
                                this.$refs.email.value=null;
                                this.legealEmail=false;
                            }else if(res.data.message==="success"){
                                this.legealEmail=true;
                            }else {
                                alert("System Error!");
                                this.legealEmail=false;
                            }
                        },function(){

                        });
                    }
                },
                passwordVerify(){
                    let pass = this.$refs.password.value
                    let passRe = this.$refs.passwordRe.value;
                    if (pass!==passRe){
                        alert("Inconsistent passwords!")
                        this.$refs.passwordRe.value = null;
                        this.legealPassword=false;
                        return;
                    }
                    if (null==pass||''===pass){
                        this.legealPassword=false;
                        return;
                    }
                    this.legealPassword=true;
                },

                signUpHandler(){
                    let username = this.$refs.username.value;
                    let password = this.$refs.password.value;
                    let email = this.$refs.email.value;

                    document.getElementById("sign_up_btn").disabled=true;
                    if (this.legealUsername&&this.legealPassword&&this.legealEmail){
                        let data = {username:username,password:password,email:email};
                        this.$http.post('/signUpVerify',data,{
                            emulateJSON: true
                        }).then(function(res){
                            document.getElementById("sign_up_btn").disabled=false;
                            if(res.data.message==="success"){
                                window.location.href = '/signUp';
                            }else {
                                alert("System Error!");
                            }
                        },function(){

                        });
                    } else  {
                        alert("Illegeal information!");
                    }
                }
            }
        }
    )

    Vue.component('fgtPass',{
            template:'<div id="singUp">' +
                        '<div style="margin-bottom: 50px">' +
                            '<a>RESET PASSWORD</a>'+
                        '</div>' +
                        '<input type="text" class="qxs-ic_user qxs-icon" ref="nameOrMail" placeholder="USERNAME OR EMAIL">' +
                        '<button id="fgt_pass_btn" class="signIn_btn" v-on:click="pwdRstHandler">Confirm</button>' +
                        '<a href="#" @click.prevent="turnToSignUp" style="float: right;margin-top:20px;"><h5>Create an account</h5></a>'+
                    '</div>',
            methods:{
                turnToSignUp(){
                  app.target = 'signUp';
                },
                pwdRstHandler(){
                    let nameOrMail = this.$refs.nameOrMail.value;
                    document.getElementById("fgt_pass_btn").disabled=true;
                    if (nameOrMail!=null||''!==nameOrMail){
                        let data = {nameOrMail:nameOrMail};
                        this.$http.post('/resetPass',data,{
                            emulateJSON: true
                        }).then(function(res){
                            document.getElementById("fgt_pass_btn").disabled=false;
                            if(res.data.message==="failed"){
                                alert("Invalid username or email!");
                            }else if(res.data.message==="success"){
                                window.location.href = '/resetPassAlertPage';
                            }

                        },function(){
                            alert("System Error!");
                        });
                    }else{
                        alert("Illegeal information!");
                    }
                }
            }
        }
    )

    const app = new Vue({
        el: '#singInForm',
        data: {
            title:'ADU',
            sub_title:'Every day is a new self and a new start!',
            target: 'signIn'
        }
    });
</script>
</html>