<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>E-mental Sign In</title>
    <link rel="stylesheet" type="text/css" href="css/signin_style.css">
    <link rel="stylesheet" type="text/css" href="css/theme.css">
    <link rel="stylesheet" type="text/css" href="css/character.css">
</head>
<body>
    <div>
        <div class="outer_label">
            <h1>E-MENTAL</h1>
            <h2>sub title</h2>
        </div>

        <div id="singInForm" class="signIn_form">
            <div style="text-align:center;width:400px;margin:0 auto">
                <a href="" @click.prevent="target='signIn'">SIGN IN</a>
                <a href="" @click.prevent="target='signUp'">SIGN UP</a>
            </div>

            <transition name="" mode="out-in" style="margin-top: 10px">
                <component :is="target"></component>
            </transition>
        </div>
    </div>
</body>

<script th:src="@{scripts/vue.min.js}"></script>
<script type = "text/javascript">
    Vue.component('signIn',{
            template:'<div id="signIn">' +
                        '<input type="text" ref="username" class="qxs-ic_user qxs-icon" placeholder="USERNAME">' +
                        '<input type="text" ref="password" class="qxs-ic_password qxs-icon" placeholder="PASSWORD">' +
                        '<button class="signIn_btn" v-on:click="signInHandler">Confirm</button>' +
                     '</div>',
            methods:{
                signInHandler(){
                    let username = this.$refs.username.value;
                    let password = this.$refs.password.value;
                    window.location.href = '/signIn?username='+username+'&password='+password;
                }
            }
        }
    )

    Vue.component('signUp',{
            template:'<div id="singUp">' +
                        '<input type="text"  class="qxs-ic_user qxs-icon"  placeholder="USERNAME">' +
                        '<input type="text"  class="qxs-ic_password qxs-icon"  placeholder="PASSWORD">' +
                        '<input type="text"  class="qxs-ic_password qxs-icon"  placeholder="REPEAT PASSWORD">' +
                        '<input type="text"  class="qxs-ic_password qxs-icon"  placeholder="EMAIL ADDRESS">' +
                        '<button class="signIn_btn" v-on:click="signInHandler">Confirm</button>' +
                     '</div>',
            methods:{
                signInHandler(){
                    window.location.href = '/signIn';
                }
            }
        }
    )

    Vue.component('fgtPass',{
            template:'<div id="singUp">' +
                        '<input type="text"  class="qxs-ic_user qxs-icon"  placeholder="USERNAME OR EMAIL">' +
                        '<button-fgt-pass></button-fgt-pass>' +
                     '</div>'
        }
    )

    const app = new Vue({
        el: '#singInForm',
        data: {
            title:'E-MENTAL',
            target: 'signIn'
        }
    });
</script>
</html>