<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>E-mental Sign In</title>
    <link rel="stylesheet" type="text/css" href="css/signin_style.css">
    <link rel="stylesheet" type="text/css" href="css/theme.css">
    <link rel="stylesheet" type="text/css" href="css/character.css">
</head>
<body>
    <div>
        <div class="outer_label">
            <h1>E-MENTAL</h1>
            <h2>sub title</h2>
        </div>

        <div id="singInForm" class="signIn_form">
            <div style="text-align:center;width:400px;margin:0 auto">
                <a href="" @click.prevent="target='signIn'">SIGN IN</a>
                <a href="" @click.prevent="target='signUp'">SIGN UP</a>
            </div>

            <transition name="" mode="out-in" style="margin-top: 10px">
                <component :is="target"></component>
            </transition>
        </div>
    </div>
</body>

<script th:src="@{scripts/vue.min.js}"></script>
<script th:src="@{scripts/vue-resource.min.js}"></script>
<script type = "text/javascript">
    Vue.component('signIn',{
            template:'<div id="signIn">' +
                        '<input type="text" ref="username" class="qxs-ic_user qxs-icon" placeholder="USERNAME">' +
                        '<input type="password" ref="password" class="qxs-ic_password qxs-icon" placeholder="PASSWORD">' +
                        '<button class="signIn_btn" v-on:click="signInHandler">Confirm</button>' +
                     '</div>',
            methods:{
                signInHandler(){
                    let username = this.$refs.username.value;
                    let password = this.$refs.password.value;
                    if (username == null||'' === username||password == null||'' === password){
                        alert("Illegal username or password!");
                    }
                    let data = {username:username,password:password};
                    this.$http.post('/signInVerify',data,{
                        emulateJSON: true
                    }).then(function(res){
                        if (res.data.message==="failed"){
                            alert("Wrong username or password!");
                        }else if(res.data.message==="success"){
                            window.location.href = '/signIn';
                        }else {
                            alert("System Error!");
                        }
                    },function(){

                    });
                }
            }
        }
    )

    Vue.component('signUp',{
            data: {
                legalUsername:false,
                legalPassword:false,
                legalEmail:false
            },
            template:'<div id="singUp">' +
                        '<input type="text" @blur="usernameVerify" ref="username" class="qxs-ic_user qxs-icon"  placeholder="USERNAME">' +
                        '<input type="password" ref="password" class="qxs-ic_password qxs-icon"  placeholder="PASSWORD">' +
                        '<input type="password" @blur="passwordVerify" ref="passwordRe" @blur="passwordVerify" ref="passwordRe" class="qxs-ic_password qxs-icon"  placeholder="REPEAT PASSWORD">' +
                        '<input type="email" @blur="emailVerify" ref="email" class="qxs-ic_mail qxs-icon"  placeholder="EMAIL ADDRESS">' +
                        '<button class="signIn_btn" v-on:click="signUpHandler">Confirm</button>' +
                     '</div>',
            methods:{
                usernameVerify(){
                    let username = this.$refs.username.value
                    let data = {username:username};
                    if (null!=username&&''!==username){
                        this.$http.post('/usernameVerify',data,{
                            emulateJSON: true
                        }).then(function(res){
                            if (res.data.message==="failed"){
                                alert("Username already in used!");
                                this.$refs.username.value=null;
                                this.legalUsername=false;
                            }else if(res.data.message==="success"){
                                this.legalUsername=true;
                            }else {
                                alert("System Error!");
                                this.legalUsername=false;
                            }
                        },function(){

                        });
                    }
                },
                emailVerify(){
                    let email = this.$refs.email.value
                    let data = {email:email};
                    if (null!=email&&''!==email){
                        this.$http.post('/emailVerify',data,{
                            emulateJSON: true
                        }).then(function(res){
                            if (res.data.message==="failed"){
                                alert("Email already in used!");
                                this.$refs.email.value=null;
                                this.legalEmail=false;
                            }else if(res.data.message==="success"){
                                this.legalEmail=true;
                            }else {
                                alert("System Error!");
                                this.legalEmail=false;
                            }
                        },function(){

                        });
                    }
                },
                passwordVerify(){
                    let pass = this.$refs.password.value
                    let passRe = this.$refs.passwordRe.value;
                    if (null==pass||''===pass||null==passRe||''===passRe){
                        alert("Illegal password!");
                        this.legalPassword=false;
                        return;
                    }else{
                        if (pass!==passRe){
                            alert("Inconsistent passwords!")
                            this.$refs.passwordRe.value = null;
                            this.legalPassword=false;
                            return;
                        }
                    }
                    this.legalPassword=true;
                },

                signUpHandler(){
                    let username = this.$refs.username.value;
                    let password = this.$refs.password.value;
                    let email = this.$refs.email.value;

                    if (this.legalUsername&&this.legalPassword&&this.legalEmail){
                        let data = {username:username,password:password,email:email};
                        this.$http.post('/signUpVerify',data,{
                            emulateJSON: true
                        }).then(function(res){
                            if(res.data.message==="success"){
                                window.location.href = '/signUp';
                            }else {
                                alert("System Error!");
                            }
                        },function(){

                        });
                    } else  {
                        alert("Illegal information!");
                    }
                }
            }
        }
    )

    Vue.component('fgtPass',{
            template:'<div id="singUp">' +
                        '<input type="text"  class="qxs-ic_user qxs-icon"  placeholder="USERNAME OR EMAIL">' +
                        '<button-fgt-pass></button-fgt-pass>' +
                     '</div>'
        }
    )

    const app = new Vue({
        el: '#singInForm',
        data: {
            title:'E-MENTAL',
            target: 'signIn'
        }
    });
</script>
</html>