<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>ADU</title>
    <link rel="stylesheet" type="text/css" href="css/welcome_style.css">
</head>
<body>
<div id="welcome">
    <!--side bar-->
    <div id="mySidenav" class="sidenav">
        <a href="#" id="foldBtn" class="foldBtn" @click.prevent="foldNav">&#9776;</a>
        <a href="#" @click.prevent="target='/getUserInfo'"><img class="menuIcon" src="../static/imgs/ic_user_main.png" th:src="@{imgs/ic_user_main.png}"/>User Info</a>
        <a href="#" @click.prevent="target='/getDashboard'"><img class="menuIcon" src="../static/imgs/ic_dashboard_main.png" th:src="@{imgs/ic_dashboard_main.png}"/>Dashboard</a>
        <a href="#" @click.prevent="target='/getMoodDiary'"><img class="menuIcon" src="../static/imgs/ic_diary_main.png" th:src="@{imgs/ic_diary_main.png}"/>Mood Diary</a>
        <a href="#" @click.prevent="target='/getCalender'"><img class="menuIcon" src="../static/imgs/ic_calendar_main.png" th:src="@{imgs/ic_calendar_main.png}"/>Calendar</a>
        <a href="#" @click.prevent="target='/getReflection'"><img class="menuIcon" src="../static/imgs/ic_reflection_main.png" th:src="@{imgs/ic_reflection_main.png}"/>Reflection</a>
        <a href="#" @click.prevent="target='/getLifestyleHelper'"><img class="menuIcon" src="../static/imgs/ic_lifestyle_main.png" th:src="@{imgs/ic_lifestyle_main.png}"/>Lifestyle Helper</a>
        <a href="#" @click.prevent="target='/getRecommendation'"><img class="menuIcon" src="../static/imgs/ic_recommendation_main.png" th:src="@{imgs/ic_recommendation_main.png}"/>Recommendation</a>
    </div>
    <div id="main" >
        <iframe id="iframe" v-bind:src="target" width="100%" height="100%" frameborder="0"></iframe>
    </div>
</div>
</body>

<script th:src="@{scripts/vue.min.js}"></script>
<script type="text/javascript">
    if (window != top)
        top.location.href = location.href;
    const app = new Vue({
        el:'#welcome',
        data:{
            isFolded:false,
            target:'/getDashboard',
            timer: '',
            notifyTime:null,
        },
        mounted(){
            let iframe = document.getElementById("iframe");
            this.fadeIn(iframe, 1000);
            window.addEventListener("message", function(data) {
                if (null!=data.data.target&&''!==data.data.target){
                    if (data.data.target==='signOut')
                        window.location.href = '/signOut';
                    app.target = data.data.target;
                }else{
                    let date = new Date();
                    this.notifyTime = data.data.time;
                }
            });
            this.$watch("target", function (newValue, oldValue) {
                this.fadeIn(iframe, 500);
            });

            document.getElementById("main").style.paddingLeft = '50px';
            document.getElementById("main").style.width = (document.body.clientWidth-50)+'px';

            window.onresize = () => {
                if (this.isFolded){
                    document.getElementById("main").style.width = (document.body.clientWidth-300)+'px';
                    document.getElementById("main").style.paddingLeft = '300px';
                    this.isFolded = true;
                } else {
                    document.getElementById("main").style.width = (document.body.clientWidth-50)+'px';
                    document.getElementById("main").style.paddingLeft = '50px';
                    this.isFolded = false;
                }
            };

            this.timer = setInterval(function(){
                let date = new Date();
                let nowTime = date.getDate()+''+date.getTime();
                if (null!=this.notifyTime&&nowTime>=this.notifyTime){
                    alert("Time to keep a diary");
                    this.notifyTime = null;
                }
            }, 60000);
        },
        beforeDestroy() {
            clearTimeout(this.timer);
        },
        methods:{
            foldNav() {
                if (!this.isFolded){
                    document.getElementById("mySidenav").style.width = '300px';
                    document.getElementById("main").style.width = (document.body.clientWidth-300)+'px';
                    document.getElementById("main").style.paddingLeft = '300px';
                    this.isFolded = true;
                } else {
                    document.getElementById("mySidenav").style.width = '50px';
                    document.getElementById("main").style.width = (document.body.clientWidth-50)+'px';
                    document.getElementById("main").style.paddingLeft = '50px';
                    this.isFolded = false;
                }
            },
            fadeOut(el, duration) {
                let step = 10 / duration,
                    opacity = 1;
                function next() {
                    if (opacity <= 0) { return; }
                    el.style.opacity = (opacity -= step);
                    setTimeout(next, 10);
                }
                next();
            },
            fadeIn(el, duration) {
                let step = 10 / duration,
                    opacity = 0;
                function next() {
                    if (opacity >= 1) { return; }
                    el.style.opacity = (opacity += step);
                    setTimeout(next, 10);
                }
                next();
            }
        }
    })
</script>

</html>